@font-face {
	font-family: Brandon;
	src: url('./fonts/BrandonText_Regular.otf') format('opentype');
}

@font-face {
  font-family: Brandon-Med;
  src: url('./fonts/BrandonText_Medium.otf') format('opentype');
}

body {
  font-family: Brandon;
}

#photos {
  margin-top: 15px;
}

#reservations {
  position: relative;
  top: 8px;
}

#menuAndRelated {
  position: relative;
  top: 750px;
  right: 165px;
}

/* #reviews {
  position: relative;
  top: 450px;
  left: 215px;
} */

#footer {
  position: relative;
  margin-top: 330px;
}